<div class="container m-3">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <form>
                <div class="form-group">
                  <label for="inputName">Nombre</label>
                  <input #nombre type="text" class="form-control" id="inputName" placeholder="Ingrese nombre">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" (click)="Crear(nombre.value);">
                        Crear
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let contact of contacts;">
                            <td>{{contact.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>
